:root {
  --container-clr: #cecece38;
  --background-clr: #2b2a2a;
  --white-clr: #f0f0ed;
  --hover-yellow: #d9f504;
  --hover-purple: #631199;
  --footer-font-clr: #f0f0ed38;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--background-clr);
  font-family: 'Montserrat', sans-serif;
  display: grid;
  place-items: center;
  gap: 3rem;
  min-height: 100vh;
  grid-template-areas:
    ' . . . '
    ' . container . '
    ' footer footer footer';
}
.container {
  position: relative;
  background: var(--container-clr);
  border-radius: 10px;
  grid-area: container;
  padding: 0 1rem;
  display: grid;
  grid-template-areas: ' list player ';
  gap: 2rem;
  width: 100%;
  position: relative;
}
.inside {
  margin-top: 4vh;
}
.list-container {
  text-align: center;
  border-radius: 10px;
  grid-area: list;
}
.list-title {
  color: #f0f0ed;
  margin-top: 10px;
  font-style: italic;
}
.playlist-list {
  margin-top: 20px;
  list-style: none;
  text-align: center;
  width: 100%;
  padding: 2rem;
}
.playlist-list-item {
  font-variant: small-caps;
  margin: auto;
  width: 23rem;
  margin-bottom: 15px;
  background: #f0f0ed;
  border-radius: 2px;
  padding: 15px;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold;
}
.playlist-list-item:hover {
  background-color: #d9f504;
  transform: scale(1.1);
}
.player-container {
  text-align: center;
  margin: auto;
  height: 90%;
  padding: 0 2rem 6rem;
  background: var(--white-clr);
  border-radius: 10px;
  width: 28rem;
  grid-area: player;
}
.big-player {
  width: 100%;
  grid-area: player;
}
.player-next-song {
  margin-top: 20px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.685);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
}
.audio-control {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 100%;
  margin-top: 10px;
}
.player-title {
  color: #2b2a2a;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 5vh;
}
.player-img {
  width: 220px;
  height: 220px;
  border-radius: 10px;
  margin-top: 30px;
  filter: none;
}
.btn {
  border: none;
  transform: scale(1.4);
  cursor: pointer;
  color: #2b2a2a;
  background: none;
  margin-top: 2rem;
}
.btn:hover {
  color: #631199;
  transform: scale(2);
}
.btn:hover:first-of-type {
  color: #d9f504;
}
.player-progress-container {
  margin: auto;
  margin-top: 20px;
  width: 80%;
  height: 10px;
  border-radius: 10px;
  position: relative;
  background-color: #cececea6;
}
.player-progress-bar {
  background: #631199;
  border-radius: 10px;
  height: 10px;
  position: absolute;
}
.player-song-timer {
  position: relative;
  margin-top: 5px;
}
.init {
  float: left;
  left: 10%;
}
.end {
  float: right;
  right: 10%;
}
.page-footer {
  text-align: center;
  grid-area: footer;
}
.page-footer-disclaimer {
  letter-spacing: 0;
  font-size: 10px;
  color: #f0f0ed38;
}
.page-footer-link {
  color: #d9f50441;
  text-decoration: none;
}
.page-footer-link:hover {
  color: #d9f504;
}
.big {
  transform: scale(1.8);
}
.display-none {
  display: none;
}
.opened-container {
  padding: 0 2rem;
  grid-template-areas: '  player  ';
}
@media screen and (max-width: 1024px) {
  body {
    grid-template-areas:
      ' . '
      ' container '
      ' footer ';
  }
  .container {
    width: 85%;
    grid-template-areas:
      '   player   '
      '  list  '
      ' . ';
  }
  .player-container {
    width: 100%;
    padding: 0 2rem 8rem;
    background: var(--white-clr);
    border-radius: 10px;
    grid-area: player;
  }
  .opened-container {
    padding: 0 2rem;
    grid-template-areas: '  player  ';
  }
  .btn {
    transform: scale(2);
  }
  .btn:hover {
    transform: scale(2.3);
  }
  .playlist-list-item {
    width: 100%;
  }
}
@media screen and (max-width: 780px) {
  body {
    grid-template-areas:
      ' . '
      ' container '
      ' footer ';
  }
  .container {
    width: 100%;
    background-color: inherit;
    padding: 0;
    grid-template-areas:
      '   player '
      '  list '
      ' . ';
  }
  .player-container {
    width: 22rem;
  }
  .player-title {
    font-size: 0.85rem;
  }
  .opened-container {
    padding: 0 2rem;
    grid-template-areas: '  player  ';
  }
  .playlist-list-items {
    font-size: 1rem;
  }
  .btn {
    transform: scale(1.8);
  }
  .btn:hover {
    transform: scale(2);
  }
}
