* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #2b2a2a;
  height: max-content;

  font-family: 'Montserrat', sans-serif;
}
.container {
  top: 10vh;
  margin: auto;
  position: relative;
  width: 75%;
  height: 80vh;
  background: #cecece38;
  border-radius: 10px;
}
.inside {
  margin-top: 4vh;
  top: 0;
}
.list-container {
  text-align: center;
  margin-left: 25px;
  width: 50%;
  border-radius: 10px;
  float: left;
  height: 90%;
}
h1 {
  color: #f0f0ed;
  margin-top: 10px;
  font-style: italic;
}
ul {
  margin-top: 20px;
  list-style: none;
  text-align: center;
}
li {
  font-variant: small-caps;
  margin: auto;
  width: 95%;
  margin-bottom: 15px;
  background: #f0f0ed;
  border-radius: 2px;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
}
li:hover {
  background-color: #d9f504;
  transform: scale(1.1);
  font-size: 22px;
  margin-bottom: 10px;
}
.player-container {
  text-align: center;
  height: 90%;
  margin-right: 30px;
  float: right;
  width: 40%;
  background: #f0f0ed;
  border-radius: 10px;
  float: right;
}
.big-player {
  width: 95%;
  margin-right: 30px;
}
p {
  margin-top: 20px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.685);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
}

.audio-control {
  width: 90%;
  margin: auto;
}
h2 {
  color: #2b2a2a;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#albumPic {
  width: 220px;
  height: 220px;
  border-radius: 10px;
  margin-top: 30px;
  filter: none;
}
.btn {
  border: none;
  padding: 1px;
  transform: scale(1.4);
  margin-left: 20px;
  cursor: pointer;
  color: #2b2a2a;
  background: none;
  margin-top: 40px;
}
.btn:hover {
  color: #631199;
  transform: scale(2);
}
#listBtn:hover {
  color: #d9f504;
}
.big {
  transform: scale(1.8);
}
#info {
  margin-top: 5vh;
}
#progressBar {
  margin: auto;
  margin-top: 20px;
  width: 80%;
  height: 10px;
  border-radius: 10px;
  position: relative;
  background-color: #cececea6;
}
#progress {
  background: #631199;
  border-radius: 10px;
  height: 10px;
  position: absolute;
}
#current {
  position: relative;
  float: left;
  left: 10%;
  margin-top: 5px;
}
#duration {
  position: relative;
  float: right;
  right: 10%;
  margin-top: 5px;
}
.display-none {
  display: none;
}
footer {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 12vh;
}
footer p {
  letter-spacing: 0;
  font-size: 10px;
  color: #f0f0ed38;
}
footer a {
  color: #d9f50441;
  text-decoration: none;
}
footer a:hover {
  color: #d9f504;
}
@media (max-width: 1024px) {
  .container {
    width: 90%;
  }
  .list-container {
    width: 40%;
    height: 90%;
  }
  .player-container {
    clear: both;
    width: 50%;
    position: absolute;
    left: 45%;
    margin-right: 10px;
  }
  .btn {
    transform: scale(1.5);
    margin-left: 10px;
  }
  .big-player {
    width: 95%;
    text-align: center;
    margin-left: 15px;
    left: 0;
  }
  img {
    width: 120px;
    height: 120px;
  }
}
@media (max-width: 480px) {
  /* body {
    height: 100%;
  } */
  .container {
    top: 1vh;
    width: 90%;
    text-align: center;
    background-color: inherit;
    margin-bottom: 25px;
    padding-top: 15px;
    min-height: fit-content;
  }
  .container h1 {
    font-size: 1.5rem;
    margin-top: 20px;
  }
  .inside {
    margin-top: 0vh;
    top: 0;
  }
  .list-container {
    width: 90%;
    position: relative;
    height: max-content;
    margin-left: 20px;
  }
  li {
    width: 100%;
    margin-bottom: 10px;
    margin-left: 0;
  }
  .player-container {
    width: 95%;
    position: relative;
    float: none;
    left: 0;
    height: fit-content;
    margin: auto;
  }
  .player-container h2 {
    margin-top: 0;
    padding-top: 0;
  }
  .big-player {
    top: 4vh;
    width: 98%;
    margin-left: 0;
    position: absolute;
    height: 90vh;
    padding: 20px;
  }
  .audio-control {
    padding-bottom: 50px;
  }
  .btn {
    transform: scale(1.8);
    margin-top: 60px;
    margin-left: 10px;
  }
  #listBtn {
    margin-left: 0px;
  }
  #albumPic {
    height: 180px;
    width: 180px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  #info {
    font-size: 12px;
  }
  #nextSongI {
    margin-bottom: 10px;
    font-size: 12px;
  }
  footer {
    position: relative;
    height: 20px;
    top: -10px;
    margin-bottom: 10px;
  }
  footer p {
    font-size: 8px;
    margin-top: 30vh;
  }
}
@media (max-width: 376px) {
  footer p {
    margin-top: 70vh;
  }
}
